public class $className {
    public static void main(String args[]) {
        print(new $className().$functionName());
    }

    $functionHeader {

    }

    private static void print(Object object) {
        if (object.getClass().isArray()) {
            for (int i = 0; i < Array.getLength(object); i++) {
                System.out.print(Array.get(object, i) + " ");
            }
            System.out.println("");
        } else {
            System.out.println(object);
        }
    }
}
